body{
    background-color: #edeef6;
    font-family: 'Poppins','sans-serif';
}

.model-container{
    display: none;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin:  0;
}

button{
    background-color: #47a386;
    border: 0;
    border-radius: 5px;
    box-shadow:  0 2px 4px rgba(0,0,0,0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
}
